<!--<div class="main-block">-->
<!--  <div class="header">-->
<!--    Реєстрація-->
<!--  </div>-->
<!--  <form [formGroup]='registerForm' class="form"  >-->
<!--  <div class="input"><label>-->
<!--    Email<span>*</span><br>-->
<!--    <input type='email' formControlName="username">-->
<!--  </label>-->
<!--  <div class="error" *ngIf="isControlInvalid('username')">-->
<!--    Введіть дійсну email адресу-->
<!--  </div>-->
<!--  </div>-->
<!--  <div class="input"><label>-->
<!--    Пароль<span>*</span><br>-->
<!--    <input type='password' formControlName="password" >-->
<!--  </label>-->
<!--    <div class="error" *ngIf="isControlInvalid('password')">-->
<!--      Пароль має бути довжиною мінімум 6 символів і містити в собі хочаб 1 цифру, 1 велику і 1 маленьку букви-->
<!--    </div>-->
<!--  </div>-->

<!--    <div class="input"><label>-->
<!--      Повторіть пароль<span>*</span><br>-->
<!--      <input type='password' formControlName="repeat_password" >-->
<!--    </label>-->
<!--      <div class="error" *ngIf="!isPasswordsMatch()">-->
<!--        Паролі не співпадають-->
<!--      </div>-->
<!--    </div>-->

<!--  <div class="input"><label>-->
<!--    Ім'я<span>*</span><br>-->
<!--    <input type='text' formControlName="first_name" >-->
<!--  </label>-->
<!--    <div class="error" *ngIf="isControlInvalid('first_name')">-->
<!--      Ім'я може містити лише кирилицю та латинські літери до 30 символів-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="input"><label>-->
<!--    Прізвище<span>*</span><br>-->
<!--    <input type='text' formControlName="last_name" >-->
<!--  </label>-->
<!--    <div class="error" *ngIf="isControlInvalid('last_name')">-->
<!--      Прізвище може містити лише кирилицю та латинські літери до 30 символів-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="input"><label>-->
<!--    Номер телефону<span>*</span><br>-->
<!--    <input type='text' formControlName="phone" placeholder="+380123456789">-->
<!--  </label>-->
<!--    <div class="error" *ngIf="isControlInvalid('phone')">-->
<!--      Номер телефону має виглядати +381231123123-->
<!--    </div>-->
<!--  </div>-->
<!--    <div class="input"><label>-->
<!--      Стать<br>-->
<!--      <mat-form-field>-->
<!--        <mat-select formControlName="sex">-->
<!--          <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </label></div>-->
<!--  <div class="input"><label>-->
<!--    День народження<br>-->
<!--    <input type='date' formControlName="birthday">-->
<!--  </label>-->
<!--  <div class="error" *ngIf="isBirthdayValid()">Вказана вами дата з майбутнього</div>-->
<!--  </div>-->

<!--    <div class="buttons">-->
<!--      <button (click)="registerUser()"> Зареєструватись </button>-->
<!--    </div>-->
<!--</form>-->
<!--</div>-->
<mat-card id="register-card">
  <mat-card-header>
    <mat-card-title>Реєстрація</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>Email<span>*</span></mat-label>
        <input matInput type="email" formControlName="username">
        <mat-error
          *ngIf="registerForm.get('username').hasError('email') &&  !registerForm.get('username').hasError('required')">
          Будь-ласка, введіть дійсну Email адресу
        </mat-error>
        <mat-error *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
          Обов'язково введіть ваш Email
        </mat-error>
      </mat-form-field>

      <div formGroupName="passwords">
        <mat-form-field appearance="standard">
          <mat-label>Пароль<span>*</span></mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error
            *ngIf="registerForm.get('password').hasError('pattern') &&  !registerForm.get('password').hasError('required')">
            Пароль має містити мінімум 6 символів: букви обох регістрів та цифри
          </mat-error>
          <mat-error *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
            Обов'язково введіть ваш пароль
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Повторіть пароль<span>*</span></mat-label>
          <input matInput type="password" formControlName="repeat_password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="(registerForm.hasError('notSame', 'passwords'))">
            Паролі не співпадають
          </mat-error>
          <mat-error *ngIf="registerForm.get('repeat_password').hasError('required') && registerForm.get('repeat_password').touched">
            Обов'язково повторно введіть пароль
          </mat-error>
        </mat-form-field>
      </div>

      <div formGroupName="profile">
      <mat-form-field appearance="standard">
        <mat-label>Ім'я<span>*</span></mat-label>
        <input matInput type="text" formControlName="first_name">
        <mat-error
          *ngIf="registerForm.get('first_name').hasError('pattern') &&  !registerForm.get('first_name').hasError('required')">
          Введіть ваше ім'я
        </mat-error>
        <mat-error
          *ngIf="registerForm.get('first_name').hasError('required') && registerForm.get('first_name').touched">
          Обов'язково введіть ваше ім'я
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Прізвище<span>*</span></mat-label>
        <input matInput type="text" formControlName="last_name">
        <!--        <mat-error *ngIf="loginForm.get('username').hasError('email') &&  !loginForm.get('username').hasError('required')" >-->
        <!--          Будь-ласка, введіть дійсну Email адресу-->
        <!--        </mat-error>-->
        <!--        <mat-error *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">-->
        <!--          Обов'язково введіть ваш Email-->
        <!--        </mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Номер телефону<span>*</span></mat-label>
        <input matInput type="text" formControlName="phone">
        <!--        <mat-error *ngIf="loginForm.get('username').hasError('email') &&  !loginForm.get('username').hasError('required')" >-->
        <!--          Будь-ласка, введіть дійсну Email адресу-->
        <!--        </mat-error>-->
        <!--        <mat-error *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">-->
        <!--          Обов'язково введіть ваш Email-->
        <!--        </mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Стать</mat-label>
        <mat-select formControlName="sex">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Дата народження</mat-label>
        <input formControlName="birthday" matInput [matDatepicker]="picker" [max]="maxDate" placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="registerForm.get('birthday').invalid && registerForm.get('birthday').touched"></mat-error>
      </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-raised-button id="register-btn" [disabled]="registerForm.invalid">Зареєструватись</button>
  </mat-card-actions>
</mat-card>
