.flex {
  display: flex;
}
.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
.column-reverse {
  flex-direction: column-reverse;
}
.mat-card-lg-image {
  width: 260px;
  height: 260px;
}
.wrap {
  flex-wrap: wrap;
}
.add-to-cart-btn {
  background: var(--accent-orange);
  color: white;
  transition: ease var(--transition-speed);
}
.about-btn {
  color: var(--text-primary);
}
.evenly {
  justify-content: space-evenly;
}
.mat-card-actions {
  /*display: block;*/
  margin-top: auto;
  margin-bottom: 20px !important;
}
.self-center{
  margin: 30px auto;
}
.price {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-primary);
}

.category-header{
  /*background: var(--bg-light);*/
  height: fit-content;
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  /*background: var(--bg-secondary);*/
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--bg-light);
  padding-top: 1.5rem;
  padding-left: 3rem;
  margin-bottom: 1rem;
}
.mat-card {
  z-index: 0;
}
.mat-card-header button {
  display: block;
  visibility: visible;
  opacity: 0;
  width: 4rem;
  height: 4rem;
  position: absolute;
  background: var(--accent-orange);
  top: 5%;
  left: 65%;
  transition:opacity var(--transition-speed);
}
.mat-card-header:hover button {
  opacity: 1;
  transform: scale3d(1.01, 1.01, 1);
}
.mat-card-header button fa-icon {
  margin: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-speed);
}

.mat-card-header:hover button fa-icon {
  opacity: 1;
  visibility: visible;
}

.mat-fab .mat-button-wrapper {
 padding: 14px 0;
}

