app-login {
  display: block;
  height: 400px;
}
* {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

/*.content {*/
/*  !*margin: 0 50px;*!*/
/*  width: 18rem;*/
/*}*/
mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#login-btn {
  background: var(--accent-orange);
  color: white;
  transition: ease var(--transition-speed);
}
#login-btn:disabled {
  background: var(--bg-secondary);
  color: var(--text-primary);
}
#register-btn {
 color: var(--text-primary);
  padding: 0 1rem;
}
.social:hover {
  transition: ease var(--transition-speed);
  background: var(--accent-orange);
}
span {
  margin-bottom: 16px;
  margin-left: auto;
  font-size: 16px;
  color: var(--accent-orange);
}
span a {
  text-decoration: none;
  cursor: pointer;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: available;
  height: 400px;
}

