<div class="nav-bar">
  <div class="img-wrapper">
    <img class="logo" routerLink="/" src="../../../../assets/ammo_logo.png" alt="Ammo Lviv Sushi Delivery">
  </div>
  <div class="list-wrapper">
    <ul class="list">
      <li><a class="nav-btn" *ngIf="isAdmin()" mat-button routerLink="/admin">ADMIN</a></li>
      <li><a class="nav-btn" mat-button routerLink="/">ГОЛОВНА</a></li>
      <li><a class="nav-btn" mat-button routerLink="/menu/">МЕНЮ</a></li>
      <li><a class="nav-btn" mat-button>ОПЛАТА І ДОСТАВКА</a></li>
      <li><a class="nav-btn" mat-button>АКЦІЇ</a></li>
      <li>
        <div class="dropdown"><a mat-button class="drop-btn nav-btn">КОНТАКТИ</a>
          <div class="dropdown-content phone">
            <a mat-button href="tel: +380 (73) 544 40 60">+380 (73) 544 40 60</a>
            <a mat-button href="tel: +380 (67) 544 40 61">+380 (67) 544 40 61</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown"><a mat-button class="drop-btn nav-btn">МІЙ КАБІНЕТ</a>
          <ng-container *ngIf="authService.isAuthenticated(); else loggedOutDropdown">
            <div class="dropdown-content">
              <div class="nav-bar fit-content">
                <div class="list-wrapper fit-content">
                  <ul class="list column fit-content">
                    <li><a mat-button routerLink="account/profile">
                      <mat-icon>account_circle</mat-icon>
                      Профіль</a></li>
                    <li><a mat-button routerLink="account/address">
                      <mat-icon>delivery_dining</mat-icon>
                      Адреси доставки</a></li>
                    <li><a mat-button routerLink="account/favorites">
                      <mat-icon>favorite_border</mat-icon>
                      Улюблене</a></li>
                    <li><a mat-button routerLink="account/order-history">
                      <mat-icon>table_view</mat-icon>
                      Історія замовлень</a></li>
                    <li><a (click)="logout()" mat-raised-button id="logout-btn">Вийти</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #loggedOutDropdown>
            <ng-container>
              <div class="dropdown-content" *ngIf="!authService.isAuthenticated()">
                <div class="sign-in">
                  <a (click)="openLoginDialog()">Увійти</a>
                </div>
                <div class="sign-up">
                  <a (click)="openRegisterDialog()">Зареєструватись</a>
                </div>
                <span>Увійти через</span>
                <div class="social">
                  <a><img src="../../../../assets/facebook.svg" alt="Facebook" width="20px" height="20px"></a>
                  <a><img src="../../../../assets/google.svg" alt="Google" width="20px" height="20px"></a>
                </div>
              </div>
            </ng-container>
          </ng-template>
        </div>
      </li>
      <li><a class="nav-btn" mat-button>Соц Мережі</a></li>
      <li>
        <mat-form-field appearance="legacy" class="select-city-field">
          <mat-select class="select-city" panelClass="select-city-panel" (selectionChange)="changeCity($event)" [(value)]="currentCity">
            <ng-container *ngFor="let city of availableCities">
              <mat-option value="{{city.value}}">
                <div class="svg-container">
                  <svg  *ngIf="currentCity === city.value" width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.25 1L4.5 11L0.75 7.25" stroke="#7BB62D" stroke-width="1.2" stroke-linecap="round"
                          stroke-linejoin="round"/>
                  </svg>
                </div>
                {{city.name}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </li>
    </ul>
  </div>
</div>
