<div class="nav-bar">
  <div class="img-wrapper">
    <img class="logo" routerLink="/" src="../../../../assets/ammo_logo.png" alt="Ammo Lviv Sushi Delivery">
  </div>
  <div class="list-wrapper">
    <ul class="list">
      <li><a routerLink="/">ГОЛОВНА</a></li>
      <li><a routerLink="/menu/">МЕНЮ</a></li>
      <li><a>ОПЛАТА І ДОСТАВКА</a></li>
      <li><a>АКЦІЇ</a></li>
      <li><div class="dropdown"><a class="drop-btn">КОНТАКТИ</a>
        <div class="dropdown-content phone">
          <a href="tel: +380 (73) 544 40 60">+380 (73) 544 40 60</a>
          <a href="tel: +380 (67) 544 40 61">+380 (67) 544 40 61</a>
        </div>
      </div></li>
      <li><div class="dropdown"><a class="drop-btn">МІЙ КАБІНЕТ</a>
        <div class="dropdown-content" *ngIf="!authService.isAuthenticated()">
          <div class="sign-in">
            <a (click)="openLoginDialog()">Увійти</a>
          </div>
          <div class="sign-up">
            <a (click)="openRegisterDialog()">Зареєструватись</a>
          </div>
          <span>Увійти через</span>
          <div class="social">
            <a><img src="../../../../assets/facebook.svg" alt="Facebook" width="20px" height="20px"></a>
            <a><img src="../../../../assets/google.svg" alt="Google" width="20px" height="20px"></a>
          </div>
        </div>
        <div class="dropdown-content" *ngIf="authService.isAuthenticated()">
          <div class="nav-bar fit-content">
            <div class="list-wrapper fit-content">
              <ul class="list column fit-content">
                <li><a routerLink="account/profile">Профіль</a></li>
                <li><a routerLink="account/address">Адреси доставки</a></li>
                <li><a routerLink="account/favorites">Вибране</a></li>
                <li><a routerLink="account/order-history">Історія замовлень</a></li>
                <li><a (click)="logout()" mat-raised-button id="logout-btn">Вийти</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div></li>
      <li><a>Соц Мережі</a></li>


    </ul>
  </div>
</div>
