  <mat-tab-group class="flex">
    <mat-tab label="Профіль">

      <mat-card id="update-card">
        <mat-card-header>
          <mat-card-title>Редагування профіля</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="updateForm" (ngSubmit)="editUser()">
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="username">
              <mat-error
                *ngIf="updateForm.get('username').hasError('email') &&  !updateForm.get('username').hasError('required')">
                Будь-ласка, введіть дійсну Email адресу
              </mat-error>
              <mat-error
                *ngIf="updateForm.get('username').hasError('email') &&  !updateForm.get('username').hasError('required')">
                Будь-ласка, введіть дійсну Email адресу
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Ім'я</mat-label>
              <input matInput type="text" formControlName="first_name">
              <mat-error
                *ngIf="updateForm.get('first_name').hasError('required') && updateForm.get('first_name').touched">
                Обов'язково введіть ваше ім'я
              </mat-error>
              <mat-error
                *ngIf="updateForm.get('first_name').hasError('pattern') &&  !updateForm.get('first_name').hasError('required')">
                Ім'я може складатись лише з літер або ' та -
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Прізвище</mat-label>
              <input matInput type="text" formControlName="last_name">
              <mat-error
                *ngIf="updateForm.get('last_name').hasError('required') && updateForm.get('last_name').touched">
                Обов'язково введіть ваше прізвище
              </mat-error>
              <mat-error
                *ngIf="updateForm.get('last_name').hasError('pattern') &&  !updateForm.get('last_name').hasError('required')">
                Прізвище може складатись лише з літер або ' та -
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Номер телефону</mat-label>
              <input matInput type="text" formControlName="phone" placeholder="+380665551799">
              <mat-error *ngIf="updateForm.get('phone').hasError('required') && updateForm.get('phone').touched">
                Обов'язково введіть ваш номер телефону
              </mat-error>
              <mat-error
                *ngIf="updateForm.get('phone').hasError('pattern') &&  !updateForm.get('phone').hasError('required')">
                Будь-ласка, введіть дійсний номер телефону у форматі +380665551799
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Стать</mat-label>
              <mat-select formControlName="sex">
                <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard">
              <mat-label>Дата народження</mat-label>
              <input formControl="birthday" matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" [value]="updateForm.controls.birthday.value"
                     placeholder="MM-DD-YYYY">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year"></mat-datepicker>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" mat-raised-button class="update-btn" [disabled]="updateForm.invalid"
                  (click)="editUser()">Оновити дані
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-tab>
    <mat-tab label="Адреса доставки">


<!--      <div *ngFor="let address of this.user.user.addresses">-->
        <mat-card class="address-card">
          <mat-card-header>
            <mat-card-title>Вашa адресa доставок</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="addressForm">
              <mat-form-field appearance="standard" class="half-input">
                <mat-label>Вулиця <span>*</span></mat-label>
                <input matInput type="text" formControlName="street">
              </mat-form-field>
              <mat-form-field appearance="standard" class="half-input">
                <mat-label>Номер <span>*</span></mat-label>
                <input matInput type="text" formControlName="number">
              </mat-form-field>
              <mat-form-field appearance="standard" class="half-input">
                <mat-label>Під'їзд</mat-label>
                <input matInput type="text" formControlName="entrance">
              </mat-form-field>
              <mat-form-field appearance="standard" class="half-input">
                <mat-label>Корпус</mat-label>
                <input matInput type="text" formControlName="housing">
              </mat-form-field>
              <mat-form-field appearance="standard" class="half-input">
                <mat-label>Квартира</mat-label>
                <input matInput type="text" formControlName="door">
              </mat-form-field>
              <mat-form-field appearance="standard" class="half-input">
                <mat-label>Поверх</mat-label>
                <input matInput type="text" formControlName="floor">
              </mat-form-field>
            </form>
          </mat-card-content>
          <mat-card-actions>

            <button *ngIf="user.user.address[0]" type="submit" mat-raised-button class="update-btn" [disabled]="addressForm.invalid" (click)="editAddress()">Оновити адресу</button>

            <button *ngIf="!user.user.address[0]" type="submit" mat-raised-button class="update-btn" [disabled]="addressForm.invalid" (click)="editAddress()">Додати адресу</button>
          </mat-card-actions>
        </mat-card>
<!--      </div>-->
    </mat-tab>
    <mat-tab label="Улюблене">
      <div class="flex row wrap">
        <mat-card *ngFor="let dish of user.fav_dishes" class="card card__one flex column">
          <mat-card-header class="flex column-reverse">
            <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" (click)="toggleFavorite(dish)">
              <fa-icon [icon]="HeartIcon" size="3x" *ngIf="!dish.favorite"></fa-icon>
              <fa-icon [icon]="HeartIconSolid" size="3x" *ngIf="dish.favorite"></fa-icon>
            </button>
            <img mat-card-lg-image src="{{URL}}{{dish.image}}">
            <mat-card-title class=" self-center">{{dish.name}}</mat-card-title>
            <mat-card-subtitle class="self-center">{{dish.ingredients}}</mat-card-subtitle>
            <mat-card-subtitle class="price self-center">{{dish.price}} грн.</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions class="flex row evenly wrap">

            <button mat-raised-button class="add-to-cart-btn">До кошика</button>
            <button mat-stroked-button class="about-btn">Докладніше</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="self-center" *ngIf="user.fav_dishes.length === 0">
        У цій категорії немає жодних позицій!
      </div>
    </mat-tab>
    <mat-tab label="Історія замовлень"> Content 1</mat-tab>
  </mat-tab-group>
