.mat-column-id{
  flex: 0 0 50px;
}
.mat-column-name, .mat-column-category {
  flex: 0 0 20%;
}
.mat-column-isShown {
  flex: 0 0 150px;
}
.mat-column-image {
  flex: 0 0 90px
}
.mat-column-edit{
  flex: 0 0 120px;
}


