<div class="container">
  <img src="assets/ammo_logo.png" alt="ammo_logo">
  <form [formGroup]="recoveryPwdForm">
    <mat-form-field appearance="outline">
      <mat-label>Введіть новий пароль<span>*</span></mat-label>
      <input matInput type="password" formControlName="new_pwd">
      <mat-error
        *ngIf="recoveryPwdForm.get('new_pwd').hasError('pattern') &&  !recoveryPwdForm.get('new_pwd').hasError('required')">
        Пароль має містити мінімум 6 символів: букви обох регістрів та цифри
      </mat-error>
      <mat-error
        *ngIf="recoveryPwdForm.get('new_pwd').hasError('required') && recoveryPwdForm.get('new_pwd').touched">
        Обов'язково введіть ваш пароль
      </mat-error>
    </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Повторно введіть пароль<span>*</span></mat-label>
        <input matInput type="password" formControlName="confirm_pwd" [errorStateMatcher]="matcher">
        <mat-error
          *ngIf="recoveryPwdForm.get('confirm_pwd').hasError('pattern') &&  !recoveryPwdForm.get('confirm_pwd').hasError('required')">
          Пароль має містити мінімум 6 символів: букви обох регістрів та цифри
        </mat-error>
        <mat-error
          *ngIf="recoveryPwdForm.get('confirm_pwd').hasError('required') && recoveryPwdForm.get('confirm_pwd').touched">
          Введіть ваш новий пароль
        </mat-error>
        <mat-error *ngIf="recoveryPwdForm.hasError('notSame')">
          Паролі не співпадають
        </mat-error>

      </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-raised-button (click)="resetPassword()">Змінити пароль</button>
  </mat-card-actions>
</div>
