.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
mat-form-field{
  width: 300px;
  margin-bottom: 30px;
}
img {
  width: 623px;
  height: 216px;
  margin-bottom: 30px;
}
button{
  width: 300px;
  height: 63px;
  background: var(--accent-orange);
  color: var(--bg-primary);
}

button:hover {
  background: var(--accent-orange-darker);
  color: var(--text-light);
}
