<mat-card class="update-card">
  <mat-card-title>
    <nav class="admin-nav">
      <span class="nav-header">Створення нової позиції</span>



    </nav>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="createForm">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Назва</mat-label>
          <input matInput type="text" formControlName="name" placeholder="Гарячі роли">
          <mat-error
            *ngIf="createForm.get('name').hasError('required') &&  createForm.get('name').touched">
            Це поле є обов'язковим!
          </mat-error>
          <mat-error
            *ngIf="createForm.get('name').hasError('pattern') &&  !createForm.get('name').hasError('required')">
            Це поле не є валідним!
          </mat-error>
          <mat-error
            *ngIf="createForm.get('name').hasError('exists')">
            Позиція з такою назвою вже існує!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Категорія</mat-label>
          <mat-select formControlName="category">
            <mat-option [value]="null"></mat-option>
            <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="createForm.get('category').hasError('required') &&  createForm.get('name').touched">
            Це поле є обов'язковим!
          </mat-error>
        </mat-form-field>


        <input class="input-file" type="file" (change)="onFileChanged($event)">
        <mat-error>
          Це поле є обов'язковим!
        </mat-error>
        <br>

        <mat-form-field appearance="outline" class="mar-r-1rem">
          <mat-label>Ціна</mat-label>
          <input matInput type="number" formControlName="price" placeholder="hot-rolls">
          <mat-error
            *ngIf="createForm.get('price').hasError('pattern') &&  !createForm.get('price').hasError('required')">
            Це поле не є валідним!
          </mat-error>
          <mat-error
            *ngIf="createForm.get('price').hasError('required') &&  createForm.get('price').touched">
            Це поле може містити лише цифри!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Вага, г.</mat-label>
          <input matInput type="number" formControlName="weight" placeholder="hot-rolls">
          <mat-error
            *ngIf="createForm.get('weight').hasError('required') &&  createForm.get('weight').touched">
            Це поле є обов'язковим!
          </mat-error>
          <mat-error
            *ngIf="createForm.get('weight').hasError('pattern') &&  !createForm.get('weight').hasError('required')">
            Це поле може містити лише цифри!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-area">
          <mat-label>Інгрeдієнти</mat-label>
          <textarea matInput formControlName="ingredients"></textarea>
          <mat-error
            *ngIf="createForm.get('ingredients').hasError('required') &&  createForm.get('ingredients').touched">
            Це поле є обов'язковим!
          </mat-error>
          <mat-error
            *ngIf="createForm.get('ingredients').hasError('pattern') &&  !createForm.get('ingredients').hasError('required')">
            Це поле може містити лише літери і цифри, а також `'-.,!()?
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="text-area">
          <mat-label>Про страву</mat-label>
          <textarea matInput formControlName="about_dish"></textarea>
          <mat-error
            *ngIf="createForm.get('about_dish').hasError('required') &&  createForm.get('about_dish').touched">
            Це поле є обов'язковим!
          </mat-error>
          <mat-error
            *ngIf="createForm.get('about_dish').hasError('pattern') &&  !createForm.get('about_dish').hasError('required')">
            Це поле може містити лише літери і цифри, а також `'-.,!()?
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="action-btn" [disabled]="!createForm.valid" (click)="createPositionAndGoBackToList()">
      <mat-icon>save</mat-icon>
      <span>Зберегти</span>
    </button>


    <button mat-button class="action-btn" [disabled]="!createForm.valid" (click)="createPosition()">
      <span>Зберегти і створити нову</span>
    </button>
  </mat-card-actions>
</mat-card>
