<footer>
  <div class="footer-column">
    <fa-icon [icon]="phoneIcon" size="3x"></fa-icon>
    <p class="solid">Є питання? Зв'яжіться з нами</p>
    <a href="tel: +380 (73) 544 40 60">+380 (73) 544 40 60</a>
    <a href="tel: +380 (67) 544 40 61">+380 (67) 544 40 61</a>
  </div>
  <div class="footer-column">
    <fa-icon [icon]="markerIcon" size="3x"></fa-icon>
    <p class="solid">Доставка</p>
  <p>БЕЗКОШТОВНА за умови замовлення від 200грн</p>
  </div>
  <div class="footer-column">
    <fa-icon [icon]="clockIcon" size="3x"></fa-icon>
    <p class="solid">Час роботи</p>
    <p>- з пн по чт - 10:00 - 22:00</p>
    <p>- з пт по нд - 12:00 - 23:00</p>
  </div>
</footer>
