<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../assets/sushi.svg" alt="rolls">
        <span class="link-text">Роли</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../assets/sushi2.svg" alt="hot rolls">
        <span class="link-text">Гарячі роли (New)</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../assets/sushi-set.svg" alt="sets">
        <span class="link-text">Cети</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../assets/bowl.svg" alt="bowls">
        <span class="link-text">Боули</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../assets/salad.svg" alt="salads">
        <span class="link-text">Салати MyFavorite</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="../../../assets/drinks.svg" alt="drinks">
        <span class="link-text">Напої</span>
      </a>
    </li>
  </ul>
</nav>
