<div class="container">
  <div class="nav-bar">
    <div class="list-wrapper">
      <ul class="list">
        <li><a (click)="showProfile()">Профіль</a></li>
        <li><a (click)="showAddresses()">Адреси доставки</a></li>
        <li><a (click)="showFavorites()">Вибране</a></li>
        <li><a (click)="showHistory()">Історія замовлень</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="profile" *ngIf="profile">
      <div class="header">
        Приватні дані:
      </div>
      <form [formGroup]="updateForm" class="form">
        <div class="input">
          <label>Email
            <input type="email" formControlName="username">
          </label>
        </div>
        <div class="error" *ngIf="isControlInvalid('username')">
          Введіть дійсну email адресу
        </div>

        <div class="input">
          <label>Ім'я
            <input type="text" formControlName="first_name">
          </label>
        </div>
        <div class="error" *ngIf="isControlInvalid('first_name')">
          Ім'я може містити лише кирилицю та латинські літери до 30 символів
        </div>

        <div class="input">
          <label>Прізвище
            <input type='text' formControlName="last_name">
          </label>
        </div>
        <div class="error" *ngIf="isControlInvalid('last_name')">
          Прізвище може містити лише кирилицю та латинські літери до 30 символів
        </div>

        <div class="input">
          <label>Номер телефону
            <input type='text' formControlName="phone" placeholder="+380123456789">
          </label>
        </div>
        <div class="error" *ngIf="isControlInvalid('phone')">
          Номер телефону має виглядати +381231123123
        </div>

        <div class="input"><label>
          Стать</label>
          <mat-form-field>
            <mat-select formControlName="sex">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="input"><label>
          День народження<br>
          <input type='date' formControlName="birthday">
        </label>
          <div class="error" *ngIf="isBirthdayValid()">Вказана вами дата з майбутнього</div>
        </div>

        <div class="buttons">
          <button (click)="updateUser()"> Зберегти</button>
        </div>
      </form>
    </div>
    <div class="password"></div>
  </div>
  <div class="addresses" *ngIf="addresses">Addresses</div>
  <div class="favorites" *ngIf="favorites">Favorites</div>
  <div class="history" *ngIf="history">History</div>
</div>

