.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
mat-card-content {
  width: 450px;
}
mat-form-field {
  margin-top: 20px;
  width: 450px;
}
.update-btn {
  background: var(--accent-orange);
  color: white;
  transition: ease var(--transition-speed);
}
.update-btn:disabled {
  background: var(--bg-secondary);
  color: var(--text-primary);
}
