<div class="container">
  <mat-card-header>
    <mat-card-title>
      Введіть вашу пошту, для отримання посилання на зміну пароля
    </mat-card-title>
  </mat-card-header>
<mat-card-content>
  <form [formGroup]="pwdRecoveryForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email:</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error
        *ngIf="pwdRecoveryForm.get('email').hasError('email') &&  !pwdRecoveryForm.get('email').hasError('required')">
        Будь-ласка, введіть дійсну Email адресу
      </mat-error>
      <mat-error *ngIf="pwdRecoveryForm.get('email').hasError('required') && pwdRecoveryForm.get('email').touched">
        Обов'язково введіть ваш Email
      </mat-error>
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button class="update-btn" type="submit" (click)="requestResetPwd()" [disabled]="pwdRecoveryForm.invalid">
    Відправити
  </button>
</mat-card-actions>
</div>
