<div class="artboard">
  <div class="domino">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!--<footer>-->
<!--  <div class="content">-->
<!--    <div class="top"><a target="_blank" href="https://www.instagram.com/akshaycodes/?hl=en"><i-->
<!--      class="fab fa-instagram"></i></a><a target="_blank" href="https://twitter.com/akshaycodes/"><i-->
<!--      class="fab fa-twitter"></i></a><a target="_blank" href="http://akshaycodes.com/youtube"><i-->
<!--      class="fab fa-youtube"></i></a>-->
<!--      <a-->
<!--        target="_blank" href="https://codepen.io/akshaycodes/"><i class="fab fa-codepen"></i></a>-->
<!--    </div>-->
<!--    <div class="bottom"><a>made with <i class="fas fa-heart beat"></i> by <a target="_blank"-->
<!--                                                                             href="https://codepen.io/akshaycodes/">Akshaycodes</a></a>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
