/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

app-main-layout {
  margin-bottom: 300px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
snack-bar-container {
  position: absolute;
  top: 200px;
  right: 20px;
}
.mat-simple-snackbar{
  font-size: 24px !important;
  font-weight: 400 !important;
}
.green-snackbar {
  background: rgb(65, 252, 134);
  color: white;
}

.green-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}

.red-snackbar {
  background: #F44336;
  color: white;
  font-size: 30px;
  font-weight: 400;
}

.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}


@media screen and (min-width: 768px) {
  .grid {
    max-width: 1200px;
  }
}
.card {
  width: 400px;
  height: 420px;
  margin: 20px 20px;
}

.dish-card {
  width: 260px !important;
  height: 485px !important;
}
/*@media screen and (min-width: 768px) {*/
/*  .card {*/
/*    margin: 0 31px;*/
/*  }*/
/*}*/
.card__one {
  transition: transform 0.5s;
}
.card__one::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.card__one:hover, .card__one:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.card__one:hover::after, .card__one:focus::after {
  opacity: 1;
}


.self-center{
  margin-top: 50px;
  text-align: center;
}
.font-big{
  font-size: 24px;
}


.select-city {
  margin-top: 8px;
}

.select-city .mat-select-value{
  color: var(--text-primary);
  font-weight: 300;
}
.select-city-panel.mat-select-panel{
  border-radius: 4px;
  margin-left: 16px;
  margin-top: 39px;
  width: 6rem;
  color: var(--text-primary);
}
.select-city-field {
  width: 7rem;
}
.select-city-panel .mat-option-text .svg-container{
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-right: 1rem;
}

mat-form-field.mat-focused .mat-form-field-ripple {
  background: black !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background: var(--text-primary);
}


.mat-ink-bar {
  background-color: var(--accent-orange) !important;
}

.action-btn {
  padding: 0 1rem;
  background: var(--accent-orange);
  color: white;
}
.action-btn span{
  margin-top: 3px;
}
.action-btn mat-icon{
 margin-right: 1rem;
}
.admin-nav {
  padding: 20px 0;
}
.nav-header {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-primary);
  margin: 0 100px 0 20px;
}

.table-container {
  margin: 20px;
  min-width: 610px;
  width: 60%;
  border: 2px;
}
